{% extends 'base.html.twig' %}

{% block body %}
  <h1 class="page-header">Déposer votre projet</h1>

  {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
{% endblock %}
